header {
    width: 100%;
    height: 300px;
    position: relative;
    
    background: linear-gradient(to top left, #724065dd, #724065dd), url(/images/background.jpg) center center;
    background-size: cover;
}

@media (max-width: 980px) {
    .navbar {
        background: var(--bs-dark);
    }

    
  }